# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.series-register.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Daniel\Documents\bootcamp-mrv\series-register\.idea\.idea.series-register.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
