# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.api-mongodb.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Daniel\Documents\bootcamp-mrv\api-mongodb\api-mongodb\.idea\.idea.api-mongodb.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
